
<head>
    <title>Alejandro Ladino</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/admin_css/cabecera.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="box">

    <span style="--i:1;*"><a href="/entrenamiento" target="_blank"><img src="/img/gym.jpg" alt=""></a></span>
    <span style="--i:2;*"><a href="/alimentacion" target="_blank"><img src="/img/alimentacion.jpg" alt=""></a></span>
    <span style="--i:3;*"><a href="/nosotros" target="_blank"><img src="/img/training.jpeg" alt=""></a></span>
    <span style="--i:4;*"><a href="/admin/login" target="_blank"><img src="/img/login.jpeg" alt=""></a></span>

</div>

</head>


