<!DOCTYPE html>
<html>
<head>
    <meta charset = 'utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
    <title>Alejandro Ladino</title>
    <link rel="stylesheet" type="text/css" href="/admin_css/cabecera.css">
    <link rel="stylesheet" href="/admin_css/ppcss.css">
    
</head>
<body>
    <section>
        <div class = "card">
            <div class ="box">
                <div class = "imgBx">
                    
                    <a download ="Entrenamiento_Hombre" href="/admin_img/entrenamiento_hombre.pdf" ><img src ="https://media.gq.com.mx/photos/6053b48c169277e35fe9a5b2/16:9/w_2560,c_limit/abdomen%20hombre.jpg" alt =""></a>
                </div>
                <div class ="contentBx">
                    <div>
                        <h2> Entrenamiento Hombre </h2>
                        <a download ="Entrenamiento_Hombre" href="/admin_img/entrenamiento_hombre.pdf" >
                        <p>Encontrarás un PDF con un entrenamiento efectivo.<br> Click aquí para descargar PDF</p>
                    </div>
                </div>
            </div>
        </div>

        <div class = "card">
            <div class ="box">
                <div class = "imgBx">
                    <a download ="Entrenamiento_Mujer" href="/admin_img/entrenamiento_mujer.pdf" ><img src="/admin_img/entrenamientomujer.jpg" alt=""></a>
                </div>
                <div class ="contentBx">
                    <div>
                        <h2> Entrenamiento Mujer</h2>
                        <a download ="Entrenamiento_Mujer" href="/admin_img/entrenamiento_mujer.pdf" >
                        <p>Encontrarás un PDF con un entrenamiento efectivo.<br> Click aquí para descargar PDF.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</body>
</html>