
<!DOCTYPE html>
<html>
<head>
    <meta charset = 'utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
    <title>Yo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="stylesheet" href="/admin_css/yo.css">
    
</head>
<body>
    <div class ="name">
        <div class ="img">
            <img src="/admin_img/profile.jpeg" alt="">
        </div>
        <div class ="content">
            <p class ="p1">Alejandro Ladino</p>
            <p class ="p2">Developer| Python | Flask | HTML-CSS | MariaDB-MySQL</p>
        </div>
    </div>

    <div class ="info">
        <p class ="titulo1">Información Personal</p>
        <p class ="titulo11">Nombre y Apellidos:</p>
        <p class ="titulo1-2">José Alejandro Ladino Tabares</p> <br>
        <p class ="titulo1-5">Fecha de Nacimiento:</p>
        <p class ="titulo1-6">01 - Julio - 1999</p><br>
        <p class ="titulo1-3">E-mail:</p>
        <p class ="titulo1-4">alejandrolxdino@gmail.com</p><br>
        <p class ="titulo1-7">Residencia:</p>
        <p class ="titulo1-8">Acacías (Meta)</p><br>
        
    </div>
    <div class ="ed">
        <p class ="titulo1">Información Académica</p>
        <p class ="titulo11">Secundaria:</p>
        <p class ="titulo1-2">Bachiller Académico </p> <br>
        <p class ="titulo1-3">Universidad:</p>
        <p class ="titulo1-4">Licenciatura en Ingles (Cursando) </p> <br>
        <p class ="titulo1-5">Cursos Platzi:</p>
        <p class ="titulo1-6">Fundamentos de Python</p><br>
        <p class ="titulo1-7">Python: Comprehensions y Manejo de Errores </p><br>
        <p class ="titulo1-8">Python: Entornos virtuales y PIP</p><br>
        <p class ="titulo1-9">Google Active:</p>
        <p class ="titulo1-10">Introducción al desarrollo Web: HTML y CSS</p>
    </div>
    <div class ="ex">
        <p class ="titulo1">Experiencia Laboral</p>
        <p class ="titulo11">Soy un entrenador de gimnasio (Distrito 23) con experiencia en la planificación y ejecución de programas de entrenamiento personalizados. Me apasiona ayudar a los clientes a alcanzar sus objetivos de salud y estado físico, y me considero un experto en identificar necesidades individuales y adaptar rutinas de ejercicio para lograr resultados efectivos. Soy un excelente comunicador y motivador, siempre comprometido a brindar un servicio de calidad y fomentar un estilo de vida saludable.<br>

            <br>Soy programador en el desarrollo de aplicaciones web con Python y Flask, la gestión de bases de datos con MySQL-MariaDB y el diseño de interfaces de usuario con HTML y CSS. Me apasiona crear soluciones innovadoras y eficientes para problemas complejos, y me considero un experto en identificar necesidades individuales y adaptar soluciones para lograr resultados efectivos. Soy un excelente comunicador y trabajo bien en equipo, siempre comprometido a brindar un servicio de calidad y fomentar un ambiente de trabajo colaborativo.
            
            </p>
    </div>
