
<!DOCTYPE html>
<html>
<head>
    <meta charset = 'utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
    <title>Alejandro Ladino</title>
    <script defer src="http://app.embed.im/snow.js"> </script>
    <style>
        body {
            background-color: black;
        }
    </style>
    <link rel="stylesheet" href="/admin_css/ppcss.css">
    
</head>
<body>
    <section>
        <div class = "card">
            <div class ="box">
                <div class = "imgBx">
                    <img src ="/admin_img/alimentacion.jpg" alt ="">
                </div>
                <div class ="contentBx">
                    <div>
                        <h2> ALIMENTACION </h2>
                        <p>Aquí podrás ver tu proceso alimenticio.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class = "card">
            <div class ="box">
                <div class = "imgBx">
                    <img src ="/admin_img/entrenamiento.jpg" alt ="">
                </div>
                <div class ="contentBx">
                    <div>
                        <h2> ENTRENAMIENTO </h2>
                        <p>Aquí podrás ver tu proceso de entrenamiento</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</body>
</html>
{% include 'admin/pie.html' %}
            
